.awesome-block {
    margin-top: 112px;
    padding-bottom: 58px;
    text-align: center;
}
.awesome-block__title {
    margin: 0;
    padding-bottom: 62px;
    position: relative;

    font-weight: 400;
    font-size: 36px;
}
.awesome-block__title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}
.awesome-block__paragraph {
    margin: 40px 0 0 0;

    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.awesome-block__list {
    display: flex;
    justify-content: space-between;
    margin: 241px 0 0 0;
    padding: 0;
    column-gap: 30px;
    list-style: none;
}
.lamp {
    position: relative;
}
.lamp::before {
    position: absolute;
    content: url("../img/lamp.png");
    top: -170px;
    left: 50%;
    transform: translate(-50%, 0);
}
.board {
    position: relative;
}
.board::before {
    position: absolute;
    content: url("../img/board.png");
    top: -170px;
    left: 50%;
    transform: translate(-50%, 0);
}
.molnia {
    position: relative;
}
.molnia::before {
    position: absolute;
    content: url("../img/molnia.png");
    top: -170px;
    left: 50%;
    transform: translate(-50%, 0);
}
.description__title {
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.description__paragraph {
    margin: 45px 0 0 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
@media (max-width: 1510px) {
    .awesome-block {
        margin-top: 99px;
    }
    .awesome-block__title {
        padding-bottom: 51px;

        font-size: 24px;
    }
    .awesome-block__title::after {
        width: 142px;
    }
    .awesome-block__paragraph {
        margin: 32px 0 0;

        font-size: 14px;
    }
    .awesome-block__list {
        margin: 213px 0 0;
        column-gap: 20px;
    }
    .lamp::before {
        content: url("../img/lamp(tablet).png");
        top: -142px;
    }
    .board::before {
        content: url("../img/board(tablet).png");
        top: -142px;
    }
    .molnia::before {
        content: url("../img/molnia(tablet).png");
        top: -142px;
    }
    .description__title {
        font-size: 18px;
    }
    .description__paragraph {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 1024px) {
    .awesome-block {
        margin-top: 50px;
    }
    .awesome-block__title {
        padding-bottom: 50px;
        font-size: 18px;
    }
    .awesome-block__title::after {
        width: 134px;
    }
    .awesome-block__paragraph {
        margin-top: 25px;
        font-size: 13px;
        line-height: 15px;
    }
    .awesome-block__list {
        display: block;
        margin: 0;
    }
    .lamp {
        position: relative;
    }
    .lamp::before {
        position: absolute;
        content: url("../img/lamp.png");
        top: -170px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .board {
        position: relative;
    }
    .board::before {
        position: absolute;
        content: url("../img/board.png");
        top: -170px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .molnia {
        position: relative;
    }
    .molnia::before {
        position: absolute;
        content: url("../img/molnia.png");
        top: -170px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .description__title {
        margin-top: 190px;
        font-size: 18px;
    }
    .description__paragraph {
        margin-top: 40px;
        font-size: 14px;
        line-height: 16px;
    }
}
