.axit-block {
    margin: 0;
    padding-top: 207px;
    padding-bottom: 293px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/baner.jpg"), no-repeat;
    background-size: cover;
}
.axit {
    display: flex;
    justify-content: space-between;
}
.axit__block {
    width: 670px;
}
.block__title {
    margin-top: 81px;
    margin-bottom: 0;
    padding-bottom: 67px;
    position: relative;

    font-family: "Raleway", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
}
.block__title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
}
.block__paragraph {
    margin-top: 42px;
    margin-bottom: 0;
    width: 270px;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.block__button {
    width: 270px;
    margin-top: 42px;
    padding: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
}
.axit__user {
    width: 470px;
    height: 450px;
    margin-left: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.user__title {
    margin-top: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}
.user__data {
    display: block;
    border: none;
    margin-left: 50px;
    width: 370px;
    min-height: 38px;
    font-size: 14px;
    margin-top: 82px;
    border-bottom: 1px solid #BDBDBD;
}
.user__data--email {
    margin-top: 33px;
}
.user__data--password {
    margin-top: 33px;
}
.user__data--submit {
    margin: 72px auto 0;

    width: 470px;
    background-color: #EC7979;
    color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}