.comments-block {
    margin: 0;
    padding: 110px 0 0 0;
    text-align: center;
}
.comments-block__title {
    position: relative;
    margin: 0;
    padding-bottom: 61px;
    text-transform: uppercase;

    font-weight: 400;
    font-size: 36px;
}
.comments-block__title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.comments-block__paragraph {
    margin: 40px 0 0 0;
    padding: 0;

    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.comments-block__comment {
    margin: 83px 0 0 0;
    padding: 0;
    display: flex;
    column-gap: 30px;
    list-style: none;
}
.comment__paragraph {
    margin: 0;
    padding: 40px 20px;
    max-width: 370px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
}
.triangle {
    position: relative;
}
.triangle::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    left: 70px;
}
.comment__user {
    padding: 70px 0 0 100px;
    text-align: start;
}
.comment__user--davis {
    position: relative;
}
.comment__user--davis::before {
    position: absolute;
    content: url("../img/davis.png");
    left: 0;
}
.comment__user--jaydon {
    position: relative;
}
.comment__user--jaydon::before {
    position: absolute;
    content: url("../img/Jaydon.png");
    left: 0;
}
.comment__user--cooper {
    position: relative;
}
.comment__user--cooper::before {
    position: absolute;
    content: url("../img/Cooper.png");
    left: 0;
}
.user__name {
    margin: 20px 0 0 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.user__post {
    margin: 35px 0 0 0;

    font-weight: 400;
    font-size: 18px;
}
@media (max-width: 1510px) {
    .comments-block {
        padding: 100px 0 0;
    }
    .comments-block__title {
        padding-bottom: 52px;
        font-size: 24px;
    }
    .comments-block__title::after {
        width: 142px;
    }
    .comments-block__paragraph {
        margin: 32px 0 0;

        font-size: 14px;
    }
    .comments-block__comment {
        margin: 32px 0 0;
        column-gap: 20px;
    }
    .comment__paragraph {
        padding: 50px 40px;
        max-width: 317px;
        font-size: 14px;
        line-height: 16px;
    }
    .triangle::after {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 20px solid #E2E2E2;
        left: 70px;
    }
    .comment__user {
        padding: 70px 0 0 85px;
    }
    .user__name {
        font-size: 18px;
    }
    .user__post {
        margin-top: 24px;

        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .comments-block {
        padding-top: 36px;
    }
    .comments-block__title {
        padding-bottom: 38px;
        font-size: 24px;
    }
    .comments-block__title::after {
        width: 134px;
    }
    .comments-block__paragraph {
        margin-top: 26px;
        font-size: 14px;
    }
    .comments-block__comment {
        display: inline-block;
    }
    .comment__jaydon {
        margin-top: 25px;
    }
    .comment__davis {
        display: none;
    }
    .comment__cooper {
        display: none;
    }
    .comment__paragraph {
        font-size: 14px;
        line-height: 16px;
    }
    .comment__user {
        padding: 50px 0 0 77px;
    }
    .comment__user--jaydon::before {
        position: absolute;
        content: url("../img/jaydon(mobail).png");
    }
    .user__name {
        margin-top: 10px;
        font-size: 14px;
    }
    .user__post {
        position: relative;
        margin-top: 25px;
        padding-bottom: 50px;
        font-size: 13px;
    }
    .user__post::after {
        position: absolute;
        content: url("../img/dots.png");
        bottom: 0;
        left: 0;
    }
}