.design-block {
    margin-top: 64px;
    background-image: url("/img/abctraction.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.design-block__title {
    width: 1170px;
    margin: 0 auto ;
    padding: 55px 0;
    position: relative;

    font-family: "Raleway","Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.design-block__title::after {
    position: absolute;
    width: 170px;
    content: "";
    border: 1px solid #FFFFFF;
    top: 154px;
    left: 500px;
}
.design-block__paragraph {
    margin: 40px auto 0;

    font-family: "Raleway","Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.design-block__button {
    width: 370px;
    margin: 73px auto 0;
    padding: 20px 0;

    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

    background-color: transparent;
    cursor: pointer;
}


