.design-block {
    padding: 112px 0 50px 0;
    margin: 64px 0 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/baner1.jpg"), no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}
.design-block__title {
    position: relative;
    margin: 0;
    padding-bottom: 63px;

    font-weight: 400;
    font-size: 36px;
}
.design-block__title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}
.design-block__paragraph {
    margin: 40px 0 0 0;
    padding: 0;

    font-weight: 400;
    font-size: 18px;
}
.design-block__button {
    margin: 73px 0 0 0;
    padding: 20px;
    min-width: 370px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    cursor: pointer;
}
@media (max-width: 1510px) {
    .design-block {
        padding: 100px 0 50px 0;
        margin: 57px 0 0;
    }
    .design-block__title {
        padding-bottom: 51px;
        font-size: 24px;
    }
    .design-block__title::after {
        width: 142px;
    }
    .design-block__paragraph {
        margin: 32px 0 0;

        font-size: 14px;
    }
    .design-block__button {
        margin: 32px 0 0;
        padding: 15px;
        min-width: 318px;
    }
}
@media (max-width: 1024px) {
    .design-block {
        padding: 50px 0 60px 0;
        margin-top: 30px;
    }
    .design-block__title {
        padding-bottom: 50px;
        font-size: 24px;
    }
    .design-block__title::after {
        width: 134px;
    }
    .design-block__paragraph {
        margin-top: 23px;
        font-size: 14px;
        line-height: 16px;
    }
    .design-block__button {
        margin-top: 67px;
        padding: 15px;
        min-width: 288px;
        max-width: 288px;
    }
}