.footer-block {
    margin: 0;
    padding: 42px 0 30px 0;
    background-color: #000000;
}
.footer-block__list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-block__paragraph {
    margin: 35px 0 0 0;
    padding: 0;
    text-align: center;
    color: #FFFFFF80;
}
@media (max-width: 1510px) {
    .footer-block__list {
        column-gap: 30px;
    }
    .footer-block__paragraph {
        margin: 40px 0 0;
    }
}
@media (max-width: 1024px) {
    .footer-block {
        padding: 38px 0 47px 0;
    }
    .footer-block__list {
        column-gap: 17px;
    }
    .footer-block__paragraph {
        margin-top: 46px;
    }
}