.pricing-block {
    margin: 0;
    padding-top: 110px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    text-align: center;
}
.price:hover {
    transform: translateY(-50px);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pricing-block__title {
    position: relative;
    margin: 0;
    padding-bottom: 62px;
    text-transform: uppercase;

    font-weight: 400;
    font-size: 36px;
}
.pricing-block__title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}
.pricing-block__paragraph {
    margin: 40px 0 0 0;
    padding: 0;
    color: #86878B;
    font-weight: 400;
    font-size: 18px;
}
.pricing-block__price {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 79px 0 0 0;
    padding: 0;
}
.price__title {
    margin: 0;
    padding: 17px;
    min-width: 370px;
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.price__paragraph {
    margin: 0;
    padding: 32px;
    min-width: 370px;
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;

    font-weight: 700;
    font-size: 36px;
}
.price__paragraph--option {
    padding: 15px;

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF80;
}
.price__list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
.list__description {
    margin: 0;
    padding: 15px;

    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    border: 2px solid #F5F5F5;
}
@media (max-width: 1510px) {
    .pricing-block {
        padding-top: 100px;
    }
    .price:hover {
        transform: translateY(-25px);
    }
    .pricing-block__title {
        padding-bottom: 50px;

        font-size: 24px;
    }
    .pricing-block__title::after {
        width: 142px;
    }
    .pricing-block__paragraph {
        margin: 32px 0 0;

        font-size: 14px;
    }
    .pricing-block__price {
        margin: 49px 0 0;
    }
    .price__title {
        min-width: 317px;
    }
    .price__paragraph {
        padding: 26px;
        min-width: 317px;
    }
    .price__paragraph--option {
        font-size: 18px;
    }
}
@media (max-width: 1024px) {
    .pricing-block {
        padding-top: 50px;
        padding-bottom: 26px;
    }
    .price:hover {
        transform: none;
    }
    .pricing-block__title {
        padding-bottom: 50px;
        font-size: 24px;
    }
    .pricing-block__title::after {
        width: 134px;

    }
    .pricing-block__paragraph {
        margin-top: 24px;
        font-size: 14px;
    }
    .pricing-block__price {
        display: inline-block;
        justify-content: center;
    }
    .price {
        margin-top: 27px;
        min-width: 288px;
    }
    .price__title {
        padding: 10px;
        min-width: 288px;
        font-size: 18px;
    }
    .price__paragraph {
        padding: 25px;
        min-width: 288px;
        font-size: 24px;
    }
    .price__paragraph--option {
        padding: 10px;
        font-size: 14px;
    }
    .list__description {
        padding: 10px;
        font-size: 14px;
    }
}
