.pricing-block {
    margin-top: 58px;
    background-color: #F5F5F5;
}
.pricing-block__title {
    margin: 50px auto 0;
    padding: 55px 0;
    text-align: center;
    position: relative;

    font-family: "Raleway","Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}
.pricing-block__title::after {
    position: absolute;
    width: 170px;
    content: "";
    border: 1px solid #EC7979;
    top: 154px;
    left: 500px;
}

.pricing-block__paragraph {
    margin: 40px auto 0;
    text-align: center;

    font-family: "Raleway","Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.list {
    display: flex;
    list-style: none;

    padding: 0;
    column-gap: 30px;
}
.tariff {
    width: 370px;
    text-align: center;
    margin: 79px auto 0;
}
.tariff__title {
    margin: 0;
    padding: 15px 0;


    font-weight: 700;
    font-size: 24px;
    background: #333333;
    color: white;
    border-bottom: 1px solid #F5F5F5;
}
.tariff__paragraph {
    margin: 0;
    padding: 30px 0;

    font-family: "Raleway","Arial", sans-serif;
    font-weight: 700;
    font-size: 36px;
    background: #333333;
    color: white;
    border-bottom: 1px solid #F5F5F5;
}
.tariff__paragraph--option {
    padding: 15px 0;

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.preference {
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    background: #FFFFFF;
}
.preferences__one {
    padding: 15px 0;

    font-family: "Raleway","Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;

    border: 1px solid #F5F5F5;
}
.list__tariff--table {
    margin: 59px auto 0;
}