.social-block {
    margin: 0;
    padding: 20px;
    background-color: #F8EFEF;
}
.social-block__media {
    display: flex;
    justify-content: space-between;
}
.media__info {
    max-width: 470px;
    margin: 0;
    padding: 0;
}
.info__title {
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.info__paragraph {
    margin: 40px 0 0 0;

    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    line-height: 21px;
}
.media__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (max-width: 1510px) {
    .social-block {
        padding: 17px;
    }
    .media__info {
        max-width: 402px;
    }
    .info__title {
        font-size: 18px;
    }
    .info__paragraph {
        margin: 30px 0 0;

        font-size: 14px;
        line-height: 16px;
    }
    .media__list {
        column-gap: 30px;
    }
}
@media (max-width: 1024px) {
    .social-block {
        margin: 0 auto;
        padding-top: 45px;
        padding-bottom: 45px;

    }
    .social-block__media {
        display: block;
        text-align: center;
    }
    .media__info {
        max-width: 100%;
    }
    .info__title {
        font-size: 18px;
    }
    .info__paragraph {
        margin: 29px 0 0;
        font-size: 14px;
        line-height: 16px;
    }
    .media__list {
        margin-top: 30px;
        column-gap: 17px;
        justify-content: center;
    }
    .facebook {
        width: 26px;
        height: 30px;
    }
    .twitter {
        width: 26px;
        height: 26px;
    }
    .linkedin {
        width: 26px;
        height: 26px;
    }
    .pinterest {
        width: 26px;
        height: 26px;
    }
    .instagram {
        width: 26px;
        height: 26px;
    }
    .git {
        width: 26px;
        height: 26px;
    }
    .rss {
        width: 26px;
        height: 26px;
    }
}
