.tabs-block {
    margin-top: 100px;
}
.tabs-block__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list__button {
    width: 184px;
    padding: 10px;
    text-align: center;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.list__button:hover {
    background-color: burlywood;
}
.list__button--active {
    width: 204px;
    border: 1px solid #C6CBCD;
    border-bottom: 2px solid white;
    border-radius: 10px 10px 0 0;
}
.tabs-block__information {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
    margin-top: -1px;
}
.information {
    margin: 0;
    padding: 53px 30px 54px 100px;
}
.information__title {
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.information__paragraph {
    margin: 77px 0 0 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.information__paragraph--size {
    margin-top: 27px;
}
.information__button {
    margin: 27px 0 0 0;
    padding: 20px;
    min-width: 270px;

    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    cursor: pointer;
}
@media (max-width: 1510px) {
    .tabs-block {
        margin-top: 50px;
    }
    .list__button {
        width: 156px;
    }
    .list__button--active {
        width: 172px;
    }
    .information {
        margin: 0;
        padding: 35px 26px 50px 85px;
    }
    .information__title {
        font-size: 24px;
    }
    .information__paragraph {
        font-size: 14px;
        line-height: 16px;
    }
    .information__paragraph--size {
        margin-top: 21px;
    }
    .information__button {
        margin: 38px 0 0;
        padding: 15px;
        min-width: 231px;
    }
}
@media (max-width: 1024px) {
    .tabs-block {
        margin-top: 41px;
    }
    .information__img {
        display: none;
    }
    .list__button {
        width: 92px;
        padding: 15px;
    }
    .list__button--active {
        width: 102px;
    }
    .tabs-block__information {
        text-align: center;
        min-width: 288px;
    }
    .information {
        padding: 35px 20px 30px 20px;
    }
    .information__title {
        font-size: 18px;
    }
    .information__paragraph {
        margin-top: 70px;
        font-size: 13px;
        line-height: 15px;
    }
    .information__paragraph--size {
        margin-top: 20px;
    }
    .information__button {
        margin-top: 29px;
        padding: 16px;
        min-width: 242px;
    }
}

