.axit-block {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img1/baner.jpg"), no-repeat;
    background-size: cover;
}
.axit-block__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 207px;
    padding-bottom: 185px;
}
.modern__img {
    margin: 0;
    padding: 0;
}
.modern__title {
    margin-top: 73px;
    padding-bottom: 65px;
    position: relative;

    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.modern__title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
}
.modern__paragraph {
    margin-top: 42px;
    max-width: 270px;

    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.modern__button {
    margin-top: 42px;
    padding: 20px;
    width: 270px;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #FFFFFF;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.block__data {
    display: grid;
    min-width: 470px;
    margin-left: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.data__title {
    text-align: center;
    margin: 0;
    padding-top: 40px;
}
.data__info {
    margin: 0 auto;
}
.data__info--name {
    margin-top: 80px;
    padding-bottom: 20px;
    width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 18px;
}
.data__info--email {
    margin-top: 33px;
    padding-bottom: 20px;
    width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 18px;
}
.data__info--password {
    margin-top: 33px;
    padding-bottom: 20px;
    width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 18px;
}
.data__submit {
    margin-top: 75px;
    width: 100%;
    padding: 20px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    border-radius: 0 0 10px 10px;
}
.data__info--get {
    width: 100%;
}